{% extends "base.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='events/add.css') }}">
<div class="add-container">
    <div class="add-bg blur"></div>
    <div class="add-jbt jumbotron">
      <h1>Event Information</h1>
      <p>Add a new event with the form below:</p>
    
      <form method="POST" class="add-form">
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
        {{ form.name.label }} <br> {{ form.name() }} <br>
        {{ form.description.label }} <br> {{ form.description() }} <br>
        {{ form.image_url.label }} <br> {{ form.image_url() }} <br>
        {{ form.price.label }} <br> {{ form.price() }} <br>
        {{ form.address.label }} <br> {{ form.address() }} <br>
        {{ form.time.label }} <br> {{ form.time() }} <br>
        {{ form.submit() }}
    </div>
</div>


{% endblock %}