{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='events/list.css') }}">

<div class="list-hero-img">
  <div class="list-hero-text">
    <h1 style="font-size:50px">Welcome to event list!</h1>
    <p>Below are some awesome events</p>
  </div>
</div>

<div class="list-jbt jumbotron">
  <div class="container">
    <div class="row">
      {% for event in events %}
      <div class="col-sm-6 padding-top">
        <div class="card">
          <img class="card-img-top" src="{{event.image_url}}"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">{{event.description}}</p>
            <p class="card-text">{{event.address}}</p>
            <p class="card-text">{{event.time}}</p>
            <a href="#" class="btn btn-primary">
              Buy Now
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}